.container{
    display: flex;
    background-color: grey;
    height: 500px;
    width: 1200px;
    text-align: center;
    padding: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
}
.box{
    padding:20px;
    height: 300px;
    width: 300px;
    background-color: azure;
}
.box1{
    padding:20px;
    height: 200px;
    width: 220px;
    background-color: azure;
}
.box2{
    padding:20px;
    height: 300px;
    width: 300px;
    background-color: azure;
}
@media(max-width:600px){
    .container{
        display: flex;
        background-color: grey;
        height: auto;
        width: 350px;
        text-align: center;
        padding: 50px;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
        margin-top: 50px;
        padding: 20px;
    }
    .box{
        margin:20px;
        padding:20px;
        height: auto;
        width: 150px;
        background-color: azure;
    }
    .box1{
        margin:20px;
        padding:20px;
        height: auto;
        width: 120px;
        background-color: azure;
    }
    .box2{
        margin:20px;
        padding:20px;
        height: auto;
        width: 150px;
        background-color: azure;
    }
}